{% extends "layout.njk" %}

{% block top%}

{% endblock %}

{% block contenu%}
<div class="listefilm">

{%for item in listMovies %}

<a href="/Movies/{{item.name}}">{{item.name}}</a>

{%endfor%}

</div>

<div class="detailfilm">
<h1>{{movie}}</h1>
<a href="/Movies/movieName/{{realisateurr}}" ><p>{{realisateurr}}</p>{{item.name}}</a>

</div>

<div>
<p>{{realisateurrr}}</p>
</div>


{% endblock %}
